.articulo{
    background-color: #000000;
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
}


.k{
    column-count: 2;
    color: white;
    

}
.img{
    padding-left: 100px;
}
.articulo1{
    background-color: #030303;
    grid-column: 2/3;
    grid-row: 2/3;
}
.articulo2{
    background-color: #070606;
    grid-column: 2/3;
    grid-row: 2/3;
}


.k{
    column-count: 2;
    color: white;

}
.img{
    padding-left: 100px;
}