.header{
    background-color: rgb(255, 255, 255);
    display: flex;
<<<<<<< HEAD
    height: 85px;   
=======
     height: 85px;   
>>>>>>> 6811dc77398d1dbbee515d4a5ffcd2cae8e8a6e5
    grid-column: 1/3;
    grid-row: 1/2;
  
}

img {
    
    width: 90px;
    height: 70px; 
    
}
.le{
margin-left: 850px;
    width: 00px;
    gap: 60px;
    font-size: 20px;
    display:flex ;
    
}

