.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 100px 10%;
}

img {
    width: 300px;
    height: auto; 
    font-size: 70px;
}
.le{
    width: 500px;
    gap: 100px;
    font-size: 70px;
    display:flex ;
    justify-content: space-between;
}
